/*
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */



/* 
   * MCASP pin mapping
   *                          ball   BBB
   * MCASP0_ACLKX             A13    P9.31
   * MCASP0_AFSX              B13    P9.29
   * MCASP0_AXR2  (mcasp OUT) C12    P9.28
   * MCASP0_AXR3  (mcasp IN)  A14    P9.25
*/

/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"



/ {
	model = "TI AM335x BeagleBone Black";
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";
};

&ldo3_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-always-on;
};

&mmc1 {
	vmmc-supply = <&vmmcsd_fixed>;
};

&mmc2 {
	vmmc-supply = <&vmmcsd_fixed>;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_pins>;
	bus-width = <8>;
	status = "okay";
};

&am33xx_pinmux {
	i2c2_pins_default: i2c2_pins_default {
	        pinctrl-single,pins = <
	                0x17c ( PIN_INPUT_PULLUP | MUX_MODE3 ) /* (D17) uart1_rtsn.I2C2_SCL */
	                0x178 ( PIN_INPUT_PULLUP | MUX_MODE3 ) /* (D18) uart1_ctsn.I2C2_SDA */
	        >;
	};


	i2c1_pins_default: pinmux_i2c1_pins {
                       pinctrl-single,pins = <
                               0x158 0x72      /* uart1_ctsn.i2c2_sda, SLEWCTRL_SLOW | INPUT_PULLUP | MODE2 */
                               0x15c 0x72      /* uart1_rtsn.i2c2_scl, SLEWCTRL_SLOW | INPUT_PULLUP | MODE2 */
                       >;
        };
	
	mcasp_0_pins_default: mcasp_0_pins_default {
		pinctrl-single,pins = <
			0x190 ( PIN_INPUT | MUX_MODE0 ) /* (A13) mcasp0_aclkx.mcasp0_aclkx */
			0x194 ( PIN_INPUT | MUX_MODE0 ) /* (B13) mcasp0_fsx.mcasp0_fsx */
			0x19c ( PIN_OUTPUT | MUX_MODE2 ) /* (C12) mcasp0_ahclkr.mcasp0_axr2 */
			0x1ac ( PIN_INPUT | MUX_MODE2 ) /* (A14) mcasp0_ahclkx.mcasp0_axr3 */
		>;
	};
};


&i2c1 {
	clock-frequency = <100000>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins_default>;
	status="okay";

	tlv320aic3x_a: tlv320aic3x@18 {
		compatible = "ti,tlv320aic3x";
		reg = <0x18>;
		tdm-offset = <0>;
		gpio-reset = <&gpio1 28 GPIO_ACTIVE_HIGH>; /* all resets are tied together... */
		status = "okay";
	};
	
	tlv320aic3x_b: tlv320aic3x@19 {
		compatible = "ti,tlv320aic3x";
		reg = <0x19>;
		tdm-offset = <32>;
		status = "okay";
	};
	
	tlv320aic3x_c: tlv320aic3x@1a {
		compatible = "ti,tlv320aic3x";
		reg = <0x1a>;
		tdm-offset = <64>;
		status = "okay";
	};
	
	tlv320aic3x_d: tlv320aic3x@1b {
		compatible = "ti,tlv320aic3x";
		reg = <0x1b>;
		tdm-offset = <96>;
		status = "okay";
	};
	
};

&mcasp0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mcasp_0_pins_default>;
	status = "okay";

	op-mode = <0>;          /* MCASP_IIS_MODE */
	tdm-slots = <16>;
	num-serializer = <16>;
	serial-dir = <  /* 0: INACTIVE, 1: TX, 2: RX */ 
		0 0 1 2
		0 0 0 0
		0 0 0 0
		0 0 0 0
	>;
	tx-num-evt = <1>;
	rx-num-evt = <1>;
};


/ {
	sound {
		compatible = "ti,da830-evm-audio";
		ti,model = "PUPPY-AUDIO";
		ti,audio-codec = <
			       &tlv320aic3x_a 
			       &tlv320aic3x_b 
			       &tlv320aic3x_c
			       &tlv320aic3x_d
			       >;
		ti,mcasp-controller = <&mcasp0>;
		ti,codec-clock-rate = <12288000>;
		ti,audio-routing =
			"Headphone Jack",       "a HPLOUT",
			"Headphone Jack",       "a HPROUT",
			"Headphone Jack",       "b HPLOUT",
			"Headphone Jack",       "b HPROUT",
			"Headphone Jack",       "c HPLOUT",
			"Headphone Jack",       "c HPROUT",
			"Headphone Jack",       "d HPLOUT",
			"Headphone Jack",       "d HPROUT",
			"a LINE1L",               "Line In",
			"a LINE1R",               "Line In",
			"b LINE1L",               "Line In",
			"b LINE1R",               "Line In",
			"c LINE1L",               "Line In",
			"c LINE1R",               "Line In",
			"d LINE1L",               "Line In",
			"d LINE1R",               "Line In";
		status="okay";
	};
};
